//! A generated module for {{ .ModuleType }} functions.

#![no_std]
#![no_main]

/// A generated module for {{ .ModuleType }} functions.
pub struct {{ .ModuleType }};

#[dagger::object]
impl {{ .ModuleType }} {}

#[goish::main]
fn main() {
    dagger::serve::<{{ .ModuleType }}>()
}
